main {
	padding-top: 80px;
	padding-bottom: 120px;
}

@media (max-width: 1439px) {
	main {
		padding-top: 96px;
		padding-bottom: 80px;
	}
}

@media (max-width: 988px) {
	main {
		padding-top: 64px;
	}
}

.pagetitle {
	margin-bottom: 80px;
}

@media (max-width: 988px) {
	.pagetitle {
		margin-bottom: 40px;
	}
}

.container {
	width: 1360px;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 1439px) {
	.container {
		width: 941px;
	}
}

@media (max-width: 988px) {
	.container {
		width: 342px;
	}
}

.checkout-general-table {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(638px, 638px));
	column-gap: 84px;
	row-gap: 64px;;
}

@media (max-width: 1439px) {
	.checkout-general-table {
		row-gap: 0;
		grid-template-columns: 1fr;
		grid-template-areas:
			"billing-details"
			"additional-info"
			"your-order"
	}

	.billing-details {
		grid-area: billing-details;
		margin-bottom: 64px;
	}

	.additional-info {
		grid-area: additional-info;
		margin-bottom: 80px;
	}

	.your-order {
		grid-area: your-order;
	}
}

@media (max-width: 988px) {
	.billing-details {
		margin-bottom: 0;
	}

	.checkout-general-table {
		row-gap: 56px;
	}
}

.form {
	margin-bottom: 40px;
	display: grid;
	grid-template-areas: 
		"first-name last-name"
		"company-name company-name"
		"country country"
		"address address"
		"phone-number email";
	grid-gap: 24px;
}

.first-name {
	grid-area: first-name;
}

.last-name {
	grid-area: last-name;
}

.company-name {
	grid-area: company-name;
}

.country {
	grid-area: country;
}

.address {
	grid-area: address;
}

.phone-number {
	grid-area: phone-number;
}

.email {
	grid-area: email;
}

.label {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #828282;
	user-select: none;
}

@media (max-width: 988px) {
	.label {
		line-height: 16px;
	}
}

.form span {
	color: #EB5757;
	margin-bottom: 0;
}

.field input, .field select {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	border: 1px solid #E0E0E0;
	padding-left: 16px;
	padding-left: 16px;
	color: #828282;
	font-weight: 400;
}

.field input:focus, .field select:focus {
	outline: none;
}

.field input::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #828282;
}

.account-checkmark {
	position: relative;
	user-select: none;
	cursor: pointer;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.label-checkbox {
	display: flex;
	align-items: center;
}

.checkbox + .label::before {
	content: '';
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	display: inline-block;
	background: #FFFFFF;
	border: 2px solid #4F4F4F;
	border-radius: 4px;
	margin-top: -2px;
	margin-right: 12px;
}

.checkbox:checked + .label::before {
	border: 2px solid #4788F5;
	background: #4788F5;
}

.checkbox:checked + .label::after {
	content: '';
	width: 16px;
	height: 16px;
	background: url('../assets/checkmark.svg') no-repeat center;
	position: absolute;
	top: -1px;
	left: 0;
}

.account-checkmark .label {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #111212;
}

.order-table {
	background: #F8F8F8;
	padding: 36px 24px 24px 24px;
}

.product-grid {
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"product-column-head total-column-head"
		"product-one sum-one"
		"subtotal sum-subtotal"
		"total sum-total"
}

.product-column-head {
	grid-area: product-column-head;
}

.total-column-head {
	grid-area: total-column-head;
}

.product-one {
	grid-area: product-one;
}

.sum-one {
	grid-area: sum-one;
}

.subtotal {
		grid-area: subtotal;
}

.sum-subtotal {
		grid-area: sum-subtotal;
}

.total {
		grid-area: total;
}

.sum-total {
		grid-area: sum-total;
}

.cell {
	padding-top: 12px;
	padding-bottom: 12px;
}

.column-head {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #828282;
}

@media (max-width: 988px) {
	.column-head {
		text-transform: none;
		font-size: 18px;
		line-height: 28px;
	}
}

.product-entry {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #828282;
}

.text-product-table {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #111212;
}

.right {
	text-align: right;
}

.order-options {
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	padding: 24px;
}

.payment-options {
	border-bottom: 1px solid #E0E0E0;
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-bottom: 24px;
}

.payment-option {
	position: relative;
	user-select: none;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #111212;
	cursor: pointer;
}

.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.payment-option-label {
	display: flex;
	align-items: center;
}

.radio + .payment-option-label::before {
	content: '';
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	display: inline-block;
	background: #FFFFFF;
	border: 2px solid #4F4F4F;
	border-radius: 50%;
	margin-top: -2px;
	margin-right: 12px;
}

.radio:checked + .payment-option-label::before {
	border: 2px solid #4788F5;
	background: #4788F5;
}

.radio:checked + .payment-option-label::after {
	content: '';
	width: 16px;
	height: 16px;
	background: url('../assets/radio.svg') no-repeat center;
	position: absolute;
	top: 2.5px;
	left: 0;
}

.order-button-container {
	padding-top: 24px;
}

.order-button {
	padding: 12px 24px;
	background: #EB5757;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
}

@media (max-width: 988px) {
	.order-button {
		width: 100%;
	}
}

.order-notes textarea {
	box-sizing: border-box;
	width: 100%;
	height: 139px;
	border: 1px solid #E0E0E0;
	resize: none;
	padding-left: 16px;
	padding-top: 12px;
}

textarea:focus {
	outline: none;
}

textarea::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #828282;
}
