body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.label {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #828282;
}

.link {
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #111212;
	text-decoration:none
}

h1 {
	font-weight: 400;
	font-size: 42px;
	line-height: 54px;
	text-align: center;
	color: #111212;
}

h1 span {
	font-family: 'Yesteryear';
	font-size: 72px;
	line-height: 70px;
	color: #D476F8;
}

.card {
	padding-bottom: 16px;
}

.card-image {
	width: 342px;
	height: 320px;
}

.card-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #111212;
	margin-bottom: 4px;
}

.card-price {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #828282;
}

.normal {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #111212;
}

.link.blue {
	color: #4788F5;
}

h3 {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #111212;
}

.logo {
	width: 70px;
	height: 32px;
}

.icon {
	width: 16px;
	height: 16px;
}

.burger-menu {
	width: 24px;
	height: 24px;
}

.logo-footer {
	width: 105px;
	height: 48px;
	margin-bottom: 32px;
}

.header {
	padding: 12px 24px;
	border-bottom: 1px solid #E0E0E0;
	display: flex;
	justify-content: space-between;
}

.right {
	display: flex;
	align-items: center;
}

.phone {
	display: flex;
	gap: 10px;
	margin-right: 20px;
	align-items: center;
}

.header.right {
	justify-content: end;
	gap: 8px;
}

.title {
	margin-top: 72px;
	margin-bottom: 64px;
}

.sort-button {
	margin-bottom: 24px;
	display: flex;
	gap: 8px;
	align-items: center;
}

.show-more{
	margin-top: 64px;
	margin-bottom: 56px;
}

.footer {
	padding: 24px 40px;
	border-top: 1px solid #E0E0E0;
}

.phone-footer {
	margin-bottom: 24px;
}

.text-footer {
	margin-bottom: 24px;
}

.social {
	display: flex;
	gap: 16px;
}

h3 {
	margin-bottom: 16px;
}

.nav {
	padding: 48px 0px;
}

.sub {
	margin-bottom: 66px;
}